@font-face {
    font-family: "Aclonica";
    src: url("../fonts/Aclonica-Regular.woff2") format("woff2"),
    url("../fonts/Aclonica-Regular.woff") format("woff");
}
.font-Aclonica{
    font-family: 'Aclonica';
}

body{
    margin: 0;
    height: 100%;
}
header{
    background-image: url('../img/headband.png');
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content{
    background: linear-gradient(90deg, rgba(79, 174, 153, 1) 0%, rgba(186, 231, 203, 1) 100%);
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
#UImenu {
    background: linear-gradient(90deg, rgba(79,174,153,1) 0%, rgba(186,231,203,1) 100%);
    height: 153px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    z-index: 2;
}

#UImenuTop {

    height: 80px;
    width: 100%;
    display: flex;
}
    
#userImg {
    width: 195px;
    height: 195px;
    background: transparent;
    border: 5px solid rgba(79,174,153,1);
    border-radius: 100%;
    position: relative;
    top: -100px;
    left: 30px;
    overflow: hidden; 
}

#block1 {
    min-width: 230px;
    max-width: 230px;
    height: 100%;
    position: relative;
}

#block2 {
    width: 100%;
    height: 100%;
    display: block;
}

.block3 {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

#block3 {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
}

#Slots {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    display: flex;
}
.lvl{
    position: relative;
    top: 35px;
}

.progress-profile {
    position: relative;
    top: 35px;
    right: 0;
    height: 30px;
    width: calc(100% - 200px);
    border-radius: 15px;
    margin: 0 25px;
    background: #FFF;
    z-index: 0;
    display: flex;
    overflow: hidden;
}

.progress {
    position: relative;
    top: 35px;
    right: 0;
    height: 30px;
    width: calc(100% - 200px);
    border-radius: 15px;
    margin: 0 25px;
    z-index: 0;
}

.progress-bar {
    background: green;
    transition: 4s ease-in-out;
}
.blockXp{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

#blockXp {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    left: 50%;
    z-index: 1;
}

#blockXp-profile {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
#username {
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    left: 55%;
    transform: translateX(-50%);
}

#blockPoints{
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: -30px;
    margin-left: 30px;
}

#points{
    padding: 5px;
    margin-bottom: 0;
}
#Slots svg , #power{
    margin: 10px;
    font-size: 50px;
    transition: all 100ms ease-in-out;
}

#Slots svg:hover{
    color: green;
    transition: all 100ms ease-in-out;
    transform: scale(1.1);
}

#Slots div{
    width: fit-content;
}
#power{
    position: absolute;
    right: 25px;
    top: -10px;
}

#power:hover{
    color: red;
    transition: all 100ms ease-in-out;
    transform: scale(1.1);
}

#flora {
    position: absolute;
    right: 50px;
    bottom: 153px;
    transform: scale(0.7) translateY(128px);
}

#city {
    z-index: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
    
}

#questboard {
    background-color: white;
    width: 800px;
    height: 50px;
    position: relative;
    top: 15px;
    left: 50%;
    border-radius: 50px;
    transform: translateX(-50%);
}

#questboard label {
    transform: translate(20px,12px);
}

#questboard label:first-child{
    font-weight: bold;
    font-size: 16px;
}

#questboard label:last-child {
    float: right;
    margin-right: 40px;
}
.badge-img{
    border: solid #000 1px;
    border-radius: 100px;
}
#showButtonEditEmail , #showButtonEditUsername ,  #showFormEditEmail , #showFormEditUsername{
    width: 100%;
}
.btn.btn-dark {
    position: absolute;
    right: 50px;
    bottom: 16px;
}
.form-control{
    border: none;
    font-size: 20px;
    box-shadow: none !important;
    padding: 0 15px;
    height: fit-content;
    width: 100%;
    text-align: center;
}
.form-group.mr-1{
    margin-bottom: 0;
    width: 100%;
}
.form-group.mr-1 ~ div {
    position: absolute;
    right: 50px;
    bottom: 16px;
} 
.white-background{
    font-size: 1.25em;
    background: #FFF;
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
}

.r-vertical{
    vertical-align: middle!important;
}

.table {
    background-color: white;
    border-radius: 20px;
}
.table td, .table th{
    border-top: unset;
}

#retour {
    position: absolute;
    transform: scale(0.3);
    transition: all 100ms ease-in-out;
    top: -95px;
    left: -90px;
    z-index: 2;

}

#retour:hover{
    transition: all 100ms ease-in-out;
    transform: scale(0.35);
}

.border-fullrounded {
    border-radius: 500px;
}
.border-fullrounded.white-background.d-flex.justify-content-center{
    padding:10px;
}
.btn.btn-file.btn-dark {
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
}

form.d-flex {
    justify-content: center;
    display: flex;
    width: 111px;
}

#file {
    width: 1px;
    height: 1px;
}